include README.md
recursive-include lipidbuilder/data/available-molecules *.csv *.pdb README
recursive-include lipidbuilder/data/forcefields *.offxml README
recursive-include lipidbuilder/data/gromacs *.mdp
prune lipidbuilder/results
prune lipidbuilder/tests
